= simple_form_for(@job_type) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, autofocus: true
    = f.input :description, as: :text, input_html: {rows: 4}

    = f.association :skills, multiple: true

  .form-actions
    = f.button :submit
