.row
  .col-xs-12
    %h3.page-header
      #{resource.name}
    %p
      #{resource.description}
  
  .col-xs-12
    %h4.page-header
      Skills Required
      
    %ul
      - resource.skills.each do |skill|
        %li 
          #{skill.name}
  
  .col-xs-12
    %h4.page-header
      Available Programs and Resources
      
    %table.table.table-bordered.table-striped
      %thead
        %th Program
        %th Resource Type
        %th Description
      
      - resource.programs.each do |program|
        %tr
          %td 
            = link_to "#{program.name}", program
          %td #{program.resource_type}
          %td #{program.description}
