.container-fluid
    .row
        .col-xs-1
            %strong
                ID
        .col-xs-4
            %strong
                Company Name
        .col-xs-4
            %strong
                Company Description
    -@job_programs.each do |program|
        .row
            .col-xs-1 #{program.id}
            .col-xs-4 #{program.name}
            .col-xs-4 #{program.description}
        .row 
        .container
            .row
                .col-xs-1
                    %strong
                        ID
                .col-xs-3
                    %strong
                        Job Name
                .col-xs-3
                    %strong
                        Job Description
                .col-xs-3
                    %strong
                        Skills
            -@job_types_by_id[program.id].each do |job|
                .row
                    .col-xs-1 #{job.id}
                    .col-xs-3 #{job.name}
                    .col-xs-3 #{job.description}
                    .col-xs-3
                        -job.skills.each do |skill|
                            #{skill.name}