= simple_form_for(resource) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :published
    - types = resource.job_types.order(:name) + (JobType.all.order(:name) - resource.job_types)
    = f.association :job_types, collection: types, as: :check_boxes
    - goals = resource.veteran_support_goals.order(:description) + (VeteranSupportGoal.all.order(:description) - resource.veteran_support_goals)
    = f.association :veteran_support_goals, collection: goals, as: :check_boxes, label_method: :description 

  .form-actions
    = f.button :submit
