.row
  .col-xs-12
    %h2.page-header
      #{resource_class.name.underscore.humanize.titleize.pluralize}
      %span.pull-right
        = link_to 'New', new_resource_path, class: 'btn btn-primary'

    - collection.order(:name).each do |resource|
      .row
        .col-xs-12
          %h3.page-header
            = link_to resource.name, resource
            %span.pull-right
              = link_to 'Edit', edit_resource_path(resource), class: 'btn btn-info btn-xs'
              = link_to 'Delete', resource, method: :delete, class: 'btn btn-danger btn-xs'

          .row
            .col-xs-12.col-sm-4
              %p
                %em= resource.description
            
            .col-xs-12.col-sm-4
              %strong Type of Program
              %em= resource.resource_type

            .col-xs-12.col-sm-4
              %strong Job Skills Supported by this Program
              %ul
                - resource.job_types.each do |job_type|
                  %li= link_to job_type.name, job_type

            .col-xs-12.col-sm-4
              %strong Needs Supported by this Program
              -#%ul
                - resource.support_needs.each do |need|
                  %li= link_to need.name, need
          %hr
  -#
  -#  .row
  -#    .col-xs-1
  -#      %strong
  -#        ID
  -#    .col-xs-4
  -#      %strong
  -#        Company Name
  -#    .col-xs-4
  -#      %strong
  -#        Company Description
  -#
  -#-@job_programs.each do |program|
  -#    .row
  -#      .col-xs-1 #{program.id}
  -#      .col-xs-4 #{program.name}
  -#      .col-xs-4 #{program.description}
  -#    .row
  -#    .container
  -#      .row
  -#        .col-xs-1
  -#          %strong
  -#              ID
  -#        .col-xs-3
  -#          %strong
  -#              Job Name
  -#        .col-xs-3
  -#          %strong
  -#              Job Description
  -#        .col-xs-3
  -#          %strong
  -#              Skills
  -#
  -#      -@job_types_by_id[program.id].each do |job|
  -#        .row
  -#          .col-xs-1 #{job.id}
  -#          .col-xs-3 #{job.name}
  -#          .col-xs-3 #{job.description}
  -#          .col-xs-3
  -#              -job.skills.each do |skill|
  -#                  #{skill.name}
