.row
  .col-xs-12
    %h3.page-header
      #{resource.name}
    
    %p #{resource.resource_type}
    %p #{resource.description}

  .col-xs-12
    %h4.page-header
      Job Types Associated with this Program
    
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Job type
          %th Description
      %tbody
        - resource.job_types.each do |jt|
          %tr
            %td 
              = link_to "#{jt.name}", jt
            %td #{jt.description}
  .col-xs-12
    %h4.page-header
      Goals this Program Supports
    %ul
      - resource.veteran_support_goals.each do |goal|
        %li #{goal.description}  
