= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :city
    = f.label 'State'
    = f.select :state, options_for_select(us_states)
    = f.input :zip

    = f.input :age_range, as: :radio_buttons, collection: ['18-25', '26-35', '35-45', '46-55', '56-65', '66+']
    = f.input :status, as: :radio_buttons, collection: ['Active Duty', 'Reserves', 'Veteran', 'Family member']

  .form-actions
    = f.button :submit