= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :city
    = f.input :state, collection: us_states
    = f.input :zip

    = f.input :age_range, as: :radio_buttons, collection: AGES
    = f.input :gender, as: :radio_buttons, collection: User::GENDERS
    = f.input :status, as: :radio_buttons, collection: User::STATUSES
    = f.input :services, as: :check_boxes, collection: User::SERVICES
    = f.input :support_goals, as: :check_boxes, collection: VeteranSupportGoal.all
    = f.input :support_goals_freeform, label: nil

  .form-actions
    = f.button :submit