= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :city
    = f.input :state, collection: us_states
    = f.input :zip

    = f.input :age_range, as: :radio_buttons, collection: User::AGES
    = f.input :gender, as: :radio_buttons, collection: User::GENDERS
    = f.input :status, as: :radio_buttons, collection: User::STATUSES
    = f.input :services, as: :check_boxes, collection: User::SERVICES
    = f.association :veteran_support_goals, as: :check_boxes, collection: VeteranSupportGoal.all.order(:description), label_method: :description
    = f.input :support_goals_freeform, label: nil
    = f.association :certifications, as: :check_boxes, collection: Certification.all.order(:name), label_method: :friendly_name

  .form-actions
    = f.button :submit