= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :city
    = f.input :state, collection: us_states
    = f.input :zip

    = f.input :age_range, as: :radio_buttons, collection: ['18-25', '26-35', '35-45', '46-55', '56-65', '66+']
    = f.input :status, as: :radio_buttons, collection: ['Active Duty', 'Reserves', 'Veteran', 'Family member']
    = f.input :services, as: :check_boxes, collection: ['Army', 'Marines', 'Navy', 'Air Force', 'Coast Guard',
     'National Guard']
    = f.input :support_goals, as: :check_boxes, collection: ['Education support', 'Transition support',
     'Job search support', 'Housing support', 'Financial management support', 'Service disability support',
     'Families of fallen soldier support']
    = f.input :support_goals_freeform
  .form-actions
    = f.button :submit