.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    .profile-card
      .row
        .col-xs-12.col-sm-4
          .pic= image_tag @user.gravatar_url

        .col-xs-12.col-sm-8
          %h2.name
            = @user.name
            %span.pull-right
              = link_to edit_user_path(@user), class: 'btn btn-sm btn-info' do
                %i.fa.fa-pencil
                Edit

          %p
            %em
              Located at
              - if resource.city
                #{resource.city},
              - if resource.state
                #{state_from_code(resource.state) },
              - if resource.zip
                #{resource.zip}

          - if resource.age_range?
            %p
              Age:
              = resource.age_range

          - if resource.status?
            %p
              Status:
              = resource.status

          - if resource.services?
            %p
              Services:
              = resource.services.reject { |x| x.empty? }.join(', ')

      %h4.page-header
        Top 10
        = link_to 'Skills', skills_user_path(@user)
      = render 'skills_list', skills: @user.normalized_skills[0..10]

      %h4.page-header
        Top 10
        = link_to 'Matching Job Types', recommendations_user_path(@user)
      = render 'job_type_recommendations', job_types: @user.matching_job_types_by_skill_level[0..9]

      %h4.page-header Matching Programs
      .alert.alert-error TBD

      %h4.page-header Questions You've Answered
      - @user.answers.joins(:question).each do |answer|
        .question
          %blockquote
            %p
              #{answer.question.question}
              %strong : #{answer.score}
        -#%hr
