.row
  .col-xs-12.col-sm-4
    %p
      %em= resource.description

  .col-xs-12.col-sm-4
    %p= resource.url
    %p= resource.address
    %p= resource.phone

  .col-xs-12.col-sm-4
    %h6.page-header{style: 'margin-top: 0'}
      Programs
      %span.pull-right
      = link_to 'New', new_organization_program_path(resource), class: 'btn btn-primary btn-xs'

    %ul.list-unstyled
      - resource.programs.order(:name).each do |program|
        %li= link_to program.name, program

