%nav.navbar.navbar-fixed-top
  .standard.container
    .navbar-header
      .navbar-brand(title="Checkpoint Marshall")
        = image_tag("LOGO.JPG", alt: "Checkpoint Marshall", size: "200x300", style: "margin-top: -7px")

      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/wordpress_site_header'

      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li= link_to current_user.email, profile_user_path(current_user)

          - if current_user.has_role? :admin
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                %i.fa.fa-gear

              %ul.dropdown-menu
                - if can? :index, Question
                  %li{:class => 'dropdown'}
                    = link_to 'Questions', questions_path

                - if can? :index, JobType
                  %li{:class => 'dropdown'}
                    = link_to 'Job Types', job_types_path

                - if can? :index, Program
                  %li{:class => 'dropdown'}
                    = link_to 'Programs', programs_path

                - if can? :index, User
                  %li{:class => 'dropdown'}
                    = link_to 'Users', users_path

                - if can? :index, MilitaryJobCode
                  %li{:class => 'dropdown'}
                    = link_to 'MOS Codes', military_job_codes_path

                - if can? :index, VeteranSupportGoal
                  %li{:class => 'dropdown'}
                    = link_to 'Support Goals', veteran_support_goals_path

          %li
            = link_to destroy_user_session_path, :method=>'delete' do
              %i.fa.fa-sign-out
        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
