%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      .navbar-brand
        %strong Blue Lobster

      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        -#- if can? :index, Organization
          %li= link_to 'Organizations', organizations_path

      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li= link_to user.email, edit_user_registration_path
          %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path

        - if user_signed_in?
          - if current_user.has_role? :admin
            %li= link_to 'Admin', '/admin'
            %li= link_to 'Users', users_path
